.infosPerso {
	width: 90%;
}

.Name {
	font-size: 2.5vw;
	font-weight: bold;
	color: black;
}

.Contacts {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Contacts > span {
	margin-left: 1vw;
	margin-bottom: 1vw;
	font-size: 0.7vw;
}

.infosPerso > p {
	font-size: 1.5vw;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.titleCv {
	width: 90%;
	font-size: 1.5vw;
	font-weight: bold;
	border-top: 0.2vw solid black;
	border-bottom: 0.2vw solid black;
}

.Education,
.discription {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-top: 0.2vw;
}

.Education > p,
.discription > p {
	text-align: start;
}

.cvs {
	margin-top: 4%;
	padding-left: 5%;
	padding-right: 5%;
	overflow-y: scroll;
	height: 80%;
	width: 60%;
	background: white;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.footerCv {
	height: 35vw;
	width: 100%;
	background: red;
}


.discription >strong, .Education >strong{
    font-size: 1vw;
    text-align: start;
}


.discription >p, .Education >p{
    font-size: .8vw;
}

.Education >i{
    font-size: .7vw;
    text-align: start;

}

.cvs >ul>li{
    text-align: start;
    font-size: .8vw;

}

.buttonDownload{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	right: 1%;
	margin-top: 1%;
	width: 6vw;
	height: 3vw;
	background: rgb(63, 62, 62);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	font-size: 1vw;
	font-weight: bold;
	border: none;
	border-radius: 1vw;
	cursor: pointer;
	
}

